<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/save" method="post">
       <div>
        <label for="inome">Insira o nome do produto a ser cadastrado:</label><br>
           <input type="text" id="inome" name="name" placeholder="nome do produto:">
           <br>
        <label for="ipreco">Insira o preco do produto a ser cadastrado:</label><br>
           <input type="text" id="ipreco" name="price" placeholder="preco do produto:">
           <br>
           <label for="idescricao">Insira a descrição do produto a ser cadastrado:</label><br>
           <input type="text" id="idescricao" name="description" placeholder="descrição produto:">
       </div>
       <br>
       <div>
        <input type="submit" value="cadastrar">
       </div>
    </form>
</body>
</html>