<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Insira o produto a ser cadastrado</h1>

    <a href="./cadastrarProdutos.html">
        <input type="submit" value="Cadastrar Produto" required>
    </a>
    <a href="./visualizarProdutos.html">
        <input type="submit" value="Visualizar Produtos Cadastrados">
    </a>
</body>
</html>